
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(0, 0, 0, 0.052);

  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  .logo-area b{
    font-size: 1.6rem;
  }
#btn {
  border-radius: 3px;
  padding: 0% 4%;
}
  .containerb {
    padding: 4%;
    margin-top: 3%;
    border-radius: 3px;
  }
  .cart {
    width: 650px;
    width: 0 auto;
    display: flex;
    flex-direction: row;
    background-color: #43a7ff0d;
    justify-content: space-between;
    padding: 2%;
    border: 1px solid rgba(0, 0, 0, 0.112);
    margin: 0 auto;
    border-radius: 2px;
    margin-bottom: 2%;
    
  }
  .cart:hover {
    box-shadow: 8px 8px 20px 1px rgba(0, 0, 0, 0.23);
    background-color: #43a7ff33;
    transition-duration: 200ms;
  } 

  .subt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.781);
   
  }
  .subt:hover {
    text-decoration: underline;
  }
  .subt1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 2%;
    color: rgba(0, 0, 0);
  }
  .subt1:hover {
    text-decoration: none;
  }
  .hy{
    text-decoration: none;
    padding: 10px;
    color: Black;
  }
footer {
    padding-left: 300px;
    padding-right: 150px;
    bottom: 0;
}

.footer-wrapper {
    display: flex;
}

.copyright {
    font-size: small;
    font-style: italic;
    font-weight: lighter;
    width: 40%;
    text-align: left;
    justify-content: center;
    margin: 0 auto;
    display: flex;
}

.footer-mid {
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    width: 100%;
    font-size: small;
    margin: 0 auto;
    text-align: left;
    justify-content: center;
    padding-right: 200px;
}

.footer-right {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    width: 100%;
    font-size: small;
    margin: 0 auto;
    text-align: left;
    justify-content: right;

}
.cityName {
  color: #071d29c7;
}