footer {
    padding-left: 300px;
    padding-right: 150px;
    position: fixed;
    /* padding: 10px 10px 0px 10px; */
    bottom: 0;
    /* height: 100vh; */
}

.footer-wrapper {
    display: flex;
}

.copyright {
    font-size: small;
    font-style: italic;
    font-weight: lighter;
    width: 40%;
    text-align: left;
    justify-content: center;
    margin: 0 auto;
    display: flex;
    /* margin-top: -5%; */
}

.footer-mid {
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    width: 100%;
    font-size: small;
    margin: 0 auto;
    text-align: left;
    justify-content: center;
    padding-right: 200px;
}

.footer-right {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
    width: 100%;
    font-size: small;
    margin: 0 auto;
    text-align: left;
    justify-content: right;

}